@charset "utf-8";

/*기본영역*/
body{ /*1점*/
    font-size:12px;
    background-color:#fdfcf0
}

#wrap{ /*100점*/
    width:1000px; margin:0 auto; 
}



/*헤더영역*/
header>h1{ /*2점*/
    padding:50px 0 20px;
    font-size:15px;
}

header>h1+p{ /*3점*/
    font-weight:800; line-height:140%;
}



/*본문영역*/
section{ /*1점*/
    margin:20px 0;
}
section>.guide{ /*11점*/
    padding"40px 0";
    /*또 다른 방법은 위,아래에만 선을 넣는 것*/
    border:1px solid #e1ddd3;
    border-right:none;
    border-left:none;
    
}
section>.guide>h3{ /*12점*/
/*    margin-left:30px;*/
    margin-bottom:20px;
    color:#764d25;
    font-size:13px;
    text-indent:30px; /*박스는 그대로, 글씨만 들여써짐*/
    
/*    ▽height와 line-height를 꼭 같이 써야 하는가?
      그건아니지만 텍스트중앙에 오는 걸 보여주시려구 같이 쓰심..*/
/*
    outline:1px solid red;
    height:100px;
    line-height:100px;
*/
}
section>.guide>ul{ /*12점*/
    margin-left:30px;
    list-style:none; 
}
section>.guide>ul>li{ /*13점*/
    font-weight:600;
    line-height:1.6;    
}
section>.guide>ul>li>span{ /*14점*/
    display:block;
    text-indent:8px; /*margin-left:8px;도 똑같이 표현된다.내 맘대로 하자~*/

}




section>.contact{ /*11점*/
    margin-top:30px;
/*    border:1px solid red;*/
}
section>.contact>h3{ /*12점*/
    margin-bottom:20px;
    font-size:13px;
    text-indent:30px;
}
section>.contact>div{ /*12점*/
    margin:0 15px 20px;
    padding:20px 0 20px 20px;
    border:1px solid #e1ddd3;
    
}
section>.contact>div>ul{ /*13점*/
/*    list-style:none;*/
    
}
/*문맥선택자는 자손을 선택할 때 사용하는데 한 칸 공백으로 표현하다.
 ※선택시 중복되는 요소를 반드시 확인하여,
   자주쓰는 것보다 확실한 것에만 사용하기를 권장*/
section>.contact li{ /*12점*/
    height:18px;
    line-height:18px;
    background-color: yellow;
} 
section>.contact>div>p{ /*13점*/
    margin-top:20px;
    font-weight:600;
   
}


section>.contact>p{ /*12점*/
/*
    margin:20px 15px;
    
*/
    margin-top: 20px; /*h3(m-b:20)과 마진통합현상이 일어나 의미가 없다. (20+20=40이 되지 않음)*/
    margin-right: 15px;
    margin-bottom: 20px;
    margin-left: 15px;
    
    padding:20px 0 20px;
    line-height:18px;
    border:1px solid #e1ddd3;
}











/*풋터영역*/
footer>p>a{ /*3점*/
    display:block;
    width:160px; height:25px;
    margin:0 auto; /*가로폭이 고정수치일 때 의미가 있음*/
    line-height:25px;
    text-align:center;
    border:2px solid #727272;  
    border-radius:5px;
}

footer>p>button{ /*3점*/
    /*버튼을 스타일링 할 때는 built-in css효과 초기화*/
    padding:0;
    background:none;
    border:none;
    box-sizing:content-box;
    outline:none;
    
    display:block;
    width:160px; height:25px;
    margin:0 auto; /*가로폭이 고정수치일 때 의미가 있음*/
    font-size:12px;
    line-height:25px;
    text-align:center;
    border:2px solid #727272;  
    border-radius:5px;
}